body {
    font-family: sans-serif;
}

#site {
    width: 785px;
    margin: 0 auto;
}

#header {
    min-height:64px
}

#toolbar {
    position: fixed; 

    width:741px;
    height: 60px;
    padding: 0 20px;
    
    background: #fff;
    border: 2px solid #d9d9d9;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
    border-radius: 5px;

    color: #666;
    font-size: 14px;
    line-height: 60px;

    vertical-align: middle;
}

#file_controls, #file_controls div {
    float: left;
}

#toolbar #file_controls div {
    margin-right: 10px;
}

#toolbar #file_info {
    float: left;
}

#toolbar #tool_open {
    width: 40px;
    height: 33px;
    margin: 13px 0;
    
    background-image: url('../images/open_icon.png');
}

#toolbar #tool_top {
    float: right;
    width: 17px;
    height: 26px;
    margin: 17px 0;
    
    background-image: url('../images/top_icon.png');
}

#dropzone {
    height: 265px;
    margin-top:25px;

    overflow: hidden;
    
    background-color: #fafafa;
    border: 4px dashed #e9e9e9;
    border-radius: 10px;

    color: #aaa;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;

    transition:         height 0.75s, opacity 0.75s;
    -moz-transition:    height 0.75s, opacity 0.75s;
    -webkit-transition: height 0.75s, opacity 0.75s;
    -o-transition:      height 0.75s, opacity 0.75s;
}

#dropzone.collapsed {
    height: 0px;
    opacity: 0;
}

#dropzone div {
    margin-top: 10px;
}

#dropzone #drop_icon {
    width: 100px;
    height: 118px;
    margin: 25px auto;

    background-image: url('../images/drop_icon.png');
}

#dropzone #drop_text {
    font-size: 16px;
}

#dropzone #browse, #more {
    color: #00f;
    cursor: pointer;
}

#dropzone #browse:hover {
    text-decoration: underline;
}

#content {
    font-family: monospace;
    margin-top:25px;
}

#offset {
    width: 110px;
    background-color: #eee;

    text-align: center;
}

#hex {
    width: 400px;
}

#hex_value {
    padding: 0 12px;
    cursor: pointer;
}

#raw {
    width: 275px;
}

#raw_value {
    padding: 0 12px;
    cursor: pointer;
}

#offset_value span, #hex_value span, #raw_value span {
    display: inline-block;
    height: 15px;
}

#more {
    text-align: center;
    display: none;
}

.tool {
    cursor: pointer;
}

.tool:hover {
    opacity: 0.5;
}

.file_info {
    color:#5F0FB1;
    font-family: monospace;
}

.header {
    padding-bottom: 10px;

    background-color: #fff;

    color: #5F0FB1;
    text-align: center;
}

.column {
    float: left;
}

.hex_row:hover, .raw_row:hover {
    background-color: #E4D6FF;
}

.hex_cell_highlighted, .raw_cell_highlighted {
    background-color: #5F0FB1;
    color:#fff;
}